body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  letter-spacing: .05em;
}

a, a:visited, a:active {
  color: #333;
  text-decoration: none;
}

header {
  padding: 20px;
}

header h1 {
  line-height: 1;
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
}

header h1 small {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}

header p {
  font-size: 14px;
  margin-bottom: 20px;
}

header ul {
  list-style: none;
  font-size: 14px;
}

header ul a {
  background: #ff0;
}

header ul a:hover {
  color: #ff0;
  background: #333;
}

main ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
}

main ul li {
  width: 50%;
  position: relative;
}

main ul li a {
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 75%;
  position: relative;
  background-position: 50%;
  background-size: 100%;
  transition: background-size .2s linear;
}

main ul li a:hover {
  background-size: 110%;
}

main ul li a span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: #fff;
  background: #333;
  line-height: 1;
  text-indent: .05em;
}

footer {
  padding: 0 20px 20px;
  font-size: 14px;
}

@media screen and (min-width: 1140px) {

  header {
    display: block;
    width: 25%;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  header ul {
    max-width: 25em;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
  }

  main {
    margin-left: 25%;
    width: 75%;
  }

  main ul li {
    width: 33.33%;
  }
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}